<!DOCTYPE html>
<html>
<head>
	<title>Swasth</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/style.css">
    <script src="script.js"></script>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/predict">Predict</a></li>
        </ul>
      </nav>
    <h1>Welcome to the Diabetes Prediction App</h1>

        <section id="banner">
            <div class="content">
                <h3>What is Diabetes?</h3>
                <p>  <bold>Diabetes</bold> is a chronic disease that occurs either when the pancreas does not produce enough insulin or when the body cannot         effectively use the insulin it produces. Insulin is a hormone that regulates blood glucose. Hyperglycaemia, also called raised blood glucose or raised blood sugar, is a common effect of uncontrolled diabetes and over time leads to serious damage to many of the body's systems, especially the nerves and blood vessels.

      In 2014, 8.5% of adults aged 18 years and older had diabetes. In 2019, diabetes was the direct cause of 1.5 million deaths and 48% of all deaths due to diabetes occurred before the age of 70 years. Another 460 000 kidney disease deaths were caused by diabetes, and raised blood glucose causes around 20% of cardiovascular deaths (1).

      Between 2000 and 2019, there was a 3% increase in age-standardized mortality rates from diabetes. In lower-middle-income countries, the mortality rate due to diabetes increased 13%.

      By contrast, the probability of dying from any one of the four main noncommunicable diseases (cardiovascular diseases, cancer, chronic respiratory diseases or diabetes) between the ages of 30 and 70 decreased by 22% globally between 2000 and 2019. 

      <br>
      <h3>Type 2 diabetes</h3>
      Type 2 diabetes (formerly called non-insulin-dependent, or adult-onset) results from the body’s ineffective use of insulin. More than 95% of people with diabetes have type 2 diabetes. This type of diabetes is largely the result of excess body weight and physical inactivity.

      Symptoms may be similar to those of type 1 diabetes but are often less marked. As a result, the disease may be diagnosed several years after onset, after complications have already arisen.

      Until recently, this type of diabetes was seen only in adults but it is now also occurring increasingly frequently in children.

      <h3>Type 1 diabetes</h3>
      Type 1 diabetes (previously known as insulin-dependent, juvenile or childhood-onset) is characterized by deficient insulin production and requires daily administration of insulin. In 2017 there were 9 million people with type 1 diabetes; the majority of them live in high-income countries. Neither its cause nor the means to prevent it are known.

      Symptoms include excessive excretion of urine (polyuria), thirst (polydipsia), constant hunger, weight loss, vision changes, and fatigue. These symptoms may occur suddenly.

      <bold>Gestational diabetes</bold>
      Gestational diabetes is hyperglycaemia with blood glucose values above normal but below those diagnostic of diabetes. Gestational diabetes occurs during pregnancy

      Women with gestational diabetes are at an increased risk of complications during pregnancy and at delivery. These women and possibly their children are also at increased risk of type 2 diabetes in the future.

      Gestational diabetes is diagnosed through prenatal screening, rather than through reported symptoms.

      Impaired glucose tolerance and impaired fasting glycaemia
      Impaired glucose tolerance (IGT) and impaired fasting glycaemia (IFG) are intermediate conditions in the transition between normality and diabetes. People with IGT or IFG are at high risk of progressing to type 2 diabetes, although this is not inevitable.

      
      <h3>Health impact</h3>
      Over time, diabetes can damage the heart, blood vessels, eyes, kidneys, and nerves.

      Adults with diabetes have a two- to three-fold increased risk of heart attacks and strokes (2).
      Combined with reduced blood flow, neuropathy (nerve damage) in the feet increases the chance of foot ulcers, infection and eventual need for limb amputation.
      Diabetic retinopathy is an important cause of blindness and occurs as a result of long-term accumulated damage to the small blood vessels in the retina. Close to 1 million people are blind due to diabetes (3).
      Diabetes is among the leading causes of kidney failure (4).
      People with diabetes are more likely to have poor outcomes for several infectious diseases, including COVID-19.
      Prevention
      Lifestyle measures have been shown to be effective in preventing or delaying the onset of type 2 diabetes. To help prevent type 2 diabetes and its complications, people should:

      achieve and maintain a healthy body weight;
      be physically active – doing at least 30 minutes of regular, moderate-intensity activity on most days. More activity is required for weight control;
      eat a healthy diet, avoiding sugar and saturated fats; and
      avoid tobacco use – smoking increases the risk of diabetes and cardiovascular disease.
      Diagnosis and treatment
      Early diagnosis can be accomplished through relatively inexpensive testing of blood glucose.

      Treatment of diabetes involves diet and physical activity along with lowering of blood glucose and the levels of other known risk factors that damage blood vessels. Tobacco use cessation is also important to avoid complications.

      Interventions that are both cost-saving and feasible in low- and middle-income countries include:

      blood glucose control, particularly in type 1 diabetes. People with type 1 diabetes require insulin, people with type 2 diabetes can be treated with oral medication, but may also require insulin;
      blood pressure control; and
      foot care (patient self-care by maintaining foot hygiene; wearing appropriate footwear; seeking professional care for ulcer management; and regular examination of feet by health professionals).
      Other cost saving interventions include:

      screening and treatment for retinopathy (which causes blindness);
      blood lipid control (to regulate cholesterol levels);
      screening for early signs of diabetes-related kidney disease and treatment.</p>


                <h3><i>Alright let's go !!!...</i></h3>
                <br>

                <div style="text-align:center"> 
                <h2>Please register or login to make a prediction.</h2>
            
                    <a href="/register"><b>Register</b></a> | <a href="/login"><b>Login</b></a>
                </div>
                    

            </div>
        </section>
        
        <br>

        <footer>
            <div 
            <p>&copy; Swasth </p>
        </footer>
</body>
</html>

