<!DOCTYPE html>
<html>
<head>
	<title>Swasth</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/style.css">
    <script src="script.js"></script>
</head>
<body class="homepage is-preload">
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/predict">Predict</a></li>
        </ul>
      </nav>
      
    <br>
    
    <div id="page-wrapper">

        <!-- Header -->
            <header id="header">
                <div class="container=fluid">
                
                    <div >
                        <h1><a href="index.html" id="logo">Swasth</a></h1>
                        <p style="text-align: center;">"Take control, don't let diabetes control you: raise awareness today."</p>
                    </div>
                </div>

                <!-- <div>
                    <img src='C://Users//alish//8th sem//Capstone//2//static//images//;home.png' style="display: block;" center center fixed; background-size: cover;>
                </div> -->
                
                <div class="image-text">
                    <h3> Please register or login to make a prediction.</h3>
            
                    <a href="/register"><b>Register</b></a> | <a href="/login"><b>Login</b></a>
                    
                    <br>
                </div>
                </div>
    </div>
            </header>
	
            <br>

	<footer>
        <div 
		<p>&copy; Swasth </p>
	</footer>
</body>
</html>